<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vmloft.develop.app.vmnote">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--读写存储权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.home.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录-->
        <activity
            android:name=".ui.sign.SignActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sign"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--笔记编辑界面-->
        <activity
            android:name=".ui.editor.EditorActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Normal"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--账户信息界面-->
        <activity
            android:name=".account.AccountActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Normal"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--Web页面处理界面-->
        <activity
            android:name=".ui.web.WebActivity"
            android:theme="@style/AppTheme.Normal"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--设置界面-->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:theme="@style/AppTheme.Normal"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--个人信息设置界面-->
        <activity
            android:name=".ui.settings.MeSettingsActivity"
            android:theme="@style/AppTheme.Normal"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.settings.MeNicknameActivity"
            android:theme="@style/AppTheme.Normal"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.settings.MeSignatureActivity"
            android:theme="@style/AppTheme.Normal"
            android:windowSoftInputMode="adjustResize|stateHidden" />

    </application>

    <!--全面屏适配-->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.4" />

</manifest>