<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vmloft.develop.app.vmnote">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--读写存储权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录-->
        <activity
            android:name=".sign.SignActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sign"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--笔记编辑界面-->
        <activity
            android:name=".editor.EditorActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Normal"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--账户信息界面-->
        <activity
            android:name=".account.AccountActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Normal"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--Web页面处理界面-->
        <activity
            android:name=".webpage.WebActivity"
            android:theme="@style/AppTheme.Normal"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>
</manifest>